gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
lib/config/constants/app_constants.dart
lib/config/constants/api_keys.dart
lib/config/constants/shared_preferences_keys.dart
lib/core/language/shared_preferences_keys.dart
# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
*.g.dart