# Gradle wrapper files
gradle-wrapper.jar

# Gradle directories
/.gradle

# Captures
/captures/

# Gradle scripts
/gradlew
/gradlew.bat

# Local properties
/local.properties

# Generated plugin registrant
GeneratedPluginRegistrant.java

# Keystore files (should never be shared publicly)
key.properties
**/*.keystore
**/*.jks

# Notifications api keys
/assets/json/notification_json/mukhalafati-62f02eada005.json
